.critica {
    .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 16px;
    max-width: 800px; 
    margin: 0 auto;

    .critica__nota {
        display: flex;
        align-items: center;
        gap: 10px;

        .critica__nota__img_item {
            max-width: 150px;
        }
    }

    .critica__opiniao {
        display: flex;
        flex-direction: column;
        align-items: center;
        .critica__opiniao_description {
            margin-bottom: 20px;
            text-align: justify;
        }
        .critica__opiniao_button {
            padding: 10px 25px;
            border-radius: 25px;
            cursor: pointer;
        }
    }
    }
}